<h1>
  <!-- <div class="text">
    <div class="fadeInDown animated">SPIEWAK</div>
  </div> -->
  <small>
    <div class="text">
      <div class="fadeInUp animated delay">
        Łukasz Śpiewak
        <a href="https://github.com/lukaspiewak/" class="social" target="_blank"
          ><i class="fab fa-github-square swing animated delay2"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/lukasz-spiewak"
          class="social"
          target="_blank"
          ><i class="fab fa-linkedin swing animated delay2"></i
        ></a>
      </div>
    </div>
  </small>
</h1>
